In [19]:
import pandas as pd
import numpy as np
from collections import Counter
from tqdm.notebook import tqdm

df = pd.read_csv("data/Normalized_Purchase_Card_Transactions.csv")

In [35]:
vendor_counts = df['VENDOR_NAME_NUM'].value_counts()

blank = np.zeros((89,df['VENDOR_NAME_NUM'].max()+1))

for index, row in tqdm(df.iterrows()):
    blank[row['AGENCY_NUM'], row['VENDOR_NAME_NUM']] = blank[row['AGENCY_NUM'], row['VENDOR_NAME_NUM']] + 1
    
np.count_nonzero(blank)

0it [00:00, ?it/s]

In [43]:
wordCounts = pd.DataFrame(blank)

bags = {i: df[df['AGENCY_NUM'] == i]['VENDOR_NAME_NUM'].unique() for i in df['AGENCY_NUM'].unique()}
wordCounts

,0,1,2,3,4,5,6,7,8,9,...,38090,38091,38092,38093,38094,38095,38096,38097,38098,38099
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,1.0,0.0,1.0,0.0,2.0,16.0,1.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
def tf(counts):
    tfDF = pd.DataFrame()
    
    for index, row in counts.iterrows():
        tfDF[index] = row.div(row.sum())
        
    return tfDF

tf = pd.DataFrame(tf(wordCounts)).T

In [99]:
tf

,0,1,2,3,4,5,6,7,8,9,...,38090,38091,38092,38093,38094,38095,38096,38097,38098,38099
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000128,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
85,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
86,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
87,0.000123,0.000000,0.000123,0.000000,0.000246,0.00197,0.000123,0.000246,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
88,0.000000,0.000182,0.000000,0.000364,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [93]:
idf = tf.apply(lambda x: np.log(89/np.count_nonzero(x.to_numpy())), axis=0)

In [95]:
prod = tf*idf

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(prod).astype("float")

In [128]:
for i in range(len(similarity)):
    similarity[i][i] = 0

In [131]:
np.argmax(similarity, axis=1)

array([83, 55, 14, 61, 23, 10, 70, 61, 10, 62,  5, 74, 67, 52, 68, 20, 42,
       48, 22, 88, 23, 22, 40,  4, 26, 23, 24,  5, 31, 88, 22, 28, 45, 22,
       22, 26, 26, 43, 46, 22, 22, 22, 49, 68, 22, 87, 38, 44, 17, 42,  4,
       24, 10, 85, 20,  1, 78, 68, 77, 84, 74, 84, 71, 22, 61, 22, 78, 12,
       43, 37, 72, 62, 70, 12, 60, 40, 82, 40, 79, 78, 22, 32, 50, 22, 61,
       53, 78, 45, 78])

In [118]:

n = 2
top_n_2 = np.argpartition(similarity, -n)[-n:]
#np.argmax(similarity, axis=1)

In [119]:
top_n_2

array([[39,  0,  2,  3, 85,  5, 84, 83, 81, 75, 10, 72, 70, 13, 14, 69,
        16, 68, 18, 19, 67, 66, 63, 62, 61, 60, 59, 27, 58, 56, 53, 52,
        51, 49, 47,  1, 42, 41, 88, 54, 38,  6,  7,  8, 78,  9, 46, 73,
        11, 71, 12, 65, 31, 29, 22, 82, 33, 57, 28, 26, 25, 86, 23, 40,
        64,  4, 21, 20, 17, 15, 50, 37, 48, 34, 74, 36, 76, 77, 35, 79,
        44, 80, 55, 24, 30, 32, 43, 45, 87],
       [77,  0,  2,  3,  4, 87,  6,  7,  8,  9, 86, 11, 12, 13, 14, 15,
        16, 17, 18, 85, 20, 21, 22, 23, 24, 25, 26, 27, 28, 84, 30, 31,
        32, 33, 34, 35, 36, 37, 38, 39, 40, 82, 42, 43,  1, 45, 46, 47,
        48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,
        64, 65, 66, 67, 68, 69, 70, 71, 81, 73, 74, 75, 76, 44,  5, 83,
        80, 72, 41, 79, 29, 19, 10, 78, 88]])