In [19]:
import pandas as pd
import numpy as np
from collections import Counter
from tqdm.notebook import tqdm

df = pd.read_csv("data/Normalized_Purchase_Card_Transactions.csv")

In [35]:
vendor_counts = df['VENDOR_NAME_NUM'].value_counts()

blank = np.zeros((89,df['VENDOR_NAME_NUM'].max()+1))

for index, row in tqdm(df.iterrows()):
    blank[row['AGENCY_NUM'], row['VENDOR_NAME_NUM']] = blank[row['AGENCY_NUM'], row['VENDOR_NAME_NUM']] + 1
    
np.count_nonzero(blank)

0it [00:00, ?it/s]

In [43]:
wordCounts = pd.DataFrame(blank)

bags = {i: df[df['AGENCY_NUM'] == i]['VENDOR_NAME_NUM'].unique() for i in df['AGENCY_NUM'].unique()}
wordCounts

,0,1,2,3,4,5,6,7,8,9,...,38090,38091,38092,38093,38094,38095,38096,38097,38098,38099
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,1.0,0.0,1.0,0.0,2.0,16.0,1.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
def tf(counts):
    tfDF = pd.DataFrame()
    
    for index, row in counts.iterrows():
        tfDF[index] = row.div(row.sum())
        
    return tfDF

tf = pd.DataFrame(tf(wordCounts)).T

In [99]:
tf

,0,1,2,3,4,5,6,7,8,9,...,38090,38091,38092,38093,38094,38095,38096,38097,38098,38099
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000128,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
85,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
86,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
87,0.000123,0.000000,0.000123,0.000000,0.000246,0.00197,0.000123,0.000246,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
88,0.000000,0.000182,0.000000,0.000364,0.000000,0.00000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [93]:
idf = tf.apply(lambda x: np.log(89/np.count_nonzero(x.to_numpy())), axis=0)

In [95]:
prod = tf*idf

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(prod).astype("float")

In [128]:
for i in range(len(similarity)):
    similarity[i][i] = 0

In [131]:
np.argmax(similarity, axis=1)

array([83, 55, 14, 61, 23, 10, 70, 61, 10, 62,  5, 74, 67, 52, 68, 20, 42,
       48, 22, 88, 23, 22, 40,  4, 26, 23, 24,  5, 31, 88, 22, 28, 45, 22,
       22, 26, 26, 43, 46, 22, 22, 22, 49, 68, 22, 87, 38, 44, 17, 42,  4,
       24, 10, 85, 20,  1, 78, 68, 77, 84, 74, 84, 71, 22, 61, 22, 78, 12,
       43, 37, 72, 62, 70, 12, 60, 40, 82, 40, 79, 78, 22, 32, 50, 22, 61,
       53, 78, 45, 78])